.default {
	font-family: Helvetica;
	font-size: 13px;
}

.fontSmall {
	font-family: Helvetica;
	font-size: 14px;
}

.fontMedium {
		font-family: Helvetica;
		font-size: 16px;
}

.fontBig {
	font-family: Helvetica;
	font-size: 18px;
}
