.default {
	font-family: Lucida Grande;
	font-size: 13px;
}

.font14 {
	font-family: Helvetica;
	font-size: 14px;
}

.font18 {
	font-family: Helvetica;
	font-size: 18px;
}

.Header16 {
	font-family: Calibri;
	font-size: 16px;
}

